<form>
    <!-- Email input -->
    <div class="form-control">
        <input [(ngModel)]="login" [ngModelOptions]="{standalone: true}" type="text" id="form2Example1" />
        <label class="form-label" for="form2Example1">Login</label>
    </div>

    <!-- Password input -->
    <div class="form-outline mb-4">
        <input type="password" [(ngModel)]="password" [ngModelOptions]="{standalone: true}" id="form2Example2"
            class="form-control" />
        <label class="form-label" for="form2Example2">Password</label>
    </div>

    <!-- Submit button -->
    <button type="button" class="btn btn-primary btn-block mb-4" (click)="log()">Sign in</button>

</form>