.left-wrapper {
  background-color: #2e3036;
  height: 100vh;
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.video {
  border-radius: 50%;
  height: 100px;
  width: 100px;
  object-fit: cover;
}
.camera-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.button-small {
  border: none;
  border-radius: 5px;
  outline: none;
  font-size: 16px;
  background-color: white;
  color: black;
  padding: 5px 10px;
}
