.otherMessage {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.myMessage {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.information {
  display: flex;
  align-items: center;
}
.name {
  font-size: 16px;
  color: rgb(195, 77, 77);
  font-weight: 400;
  margin-right: 10px;
}
.time {
  font-size: 9px;
}
.messageItem {
  margin-bottom: 20px;
}
.messageText {
  color: white;
  font-size: 20px;
}
